@font-face {
  font-family: Eastman Roman Trial;
  src: url(EastmanRomanTrial-Regular.otf);
}
* {
  box-sizing: border-box;
  font-family: "nunito sans";
  text-decoration: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: nunito sans;
}

#forgotpsd {
  float: right;
  color: #989898;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.btn:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.dashboard {
  max-width: 100%;
  gap: 5px;
}
.dashboard .topbar {
  display: flex;
  align-items: center;
}
.dashboard .topbar .form {
  flex: 3;
  position: relative;
}
.dashboard .topbar .form input {
  width: 100%;
  background: rgba(186, 193, 255, 0.2196078431);
}
.dashboard .topbar .form span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background: rgba(186, 193, 255, 0.7960784314);
  padding: 5px;
  border-radius: 5px;
}
.dashboard .topbar .profile {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
@media screen and (max-width: 1204px) {
  .dashboard .topbar .profile {
    font-size: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .dashboard .topbar .profile {
    font-size: 12px;
  }
}
@media screen and (max-width: 970px) {
  .dashboard .topbar .profile {
    flex: 2.5;
    font-size: 12px;
  }
  .dashboard .topbar .profile img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard .topbar .profile {
    flex: 1;
    font-size: 12px;
  }
  .dashboard .topbar .profile .name::before {
    display: none;
  }
  .dashboard .topbar .profile .name > span {
    display: none;
  }
}
.dashboard .topbar .profile div {
  margin: 10px;
}
.dashboard .topbar .profile div::before {
  content: "";
  position: absolute;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background-color: rgb(179, 179, 179);
}
.dashboard .topbar .profile div::before span {
  margin-left: 5px;
}
.dashboard .calendars .calendar, .dashboard .calendars .calendar_weekdays, .dashboard .calendars .calendar_content {
  max-width: 300px;
}
.dashboard .calendars .calendar {
  margin: auto;
  font-weight: 400;
}
.dashboard .calendars .calendar_content, .dashboard .calendars .calendar_weekdays, .dashboard .calendars .calendar_header {
  position: relative;
  overflow: hidden;
}
.dashboard .calendars .calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
}
.dashboard .calendars .calendar_weekdays div, .dashboard .calendars .calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #6f6f6f;
  font-size: 14px;
}
.dashboard .calendars .calendar_content div {
  border: 1px solid transparent;
  float: left;
  border-radius: 15%;
}
.dashboard .calendars .calendar_content div:hover {
  border: 1px solid #dcdcdc;
  cursor: default;
}
.dashboard .calendars .calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent;
}
.dashboard .calendars .calendar_content div.past-date {
  color: #d5d5d5;
}
.dashboard .calendars .calendar_content div.today {
  font-weight: bold;
  font-size: 14px;
  color: #4e5ddd;
  border: 1px solid #dcdcdc;
  background: #DBD7F4;
}
.dashboard .calendars .calendar_content div.selected {
  background-color: #f0f0f0;
}
.dashboard .calendars .calendar_header {
  width: 100%;
  text-align: center;
}
.dashboard .calendars .calendar_header h2 {
  padding: 0 10px;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #a2aaf0;
  float: left;
  width: 70%;
  margin: 0 0 10px;
}
.dashboard .calendars button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: #dcdcdc;
  float: left;
  width: 15%;
  transition: color 0.2s;
}
.dashboard .calendars button.switch-month:hover {
  color: #B9C0FE;
}
.dashboard .users {
  display: flex;
  gap: 5px;
  overflow: auto;
}
.dashboard .users::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.dashboard .users::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(gray));
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.dashboard .users .card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: 250px;
  flex-shrink: 0;
}
.dashboard .users .card .pics {
  display: grid;
  align-content: center;
}
.dashboard .users .card .pics img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dashboard .users .card h6 {
  margin-bottom: 0;
}
.dashboard .users .card p {
  margin-bottom: 0;
}
.dashboard .users .card a {
  font-size: 12px;
}
.dashboard th, .dashboard td {
  padding: 20px;
  font-size: 1vw;
}
@media screen and (max-width: 768px) {
  .dashboard th, .dashboard td {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 575px) {
  .dashboard th, .dashboard td {
    font-size: 2vw;
  }
}
.dashboard th b, .dashboard td b {
  font-weight: 600;
}
.dashboard th .fa, .dashboard td .fa {
  border-radius: 50%;
  height: 50px;
  height: 50px;
  padding: 20px;
  cursor: pointer;
}
.dashboard th .fa:hover, .dashboard td .fa:hover {
  background-color: rgba(185, 192, 254, 0.3215686275);
}
.dashboard td:has(.badge, .fa) {
  position: relative;
}
.dashboard td:has(.badge, .fa) .badge, .dashboard td:has(.badge, .fa) .fa {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dashboard .nav-item a {
  padding: 20px !important;
  color: #a4a6b3;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */