@font-face {
  font-family: Eastman Roman Trial;
  src: url(EastmanRomanTrial-Regular.otf);
}
* {
  box-sizing: border-box;
  font-family: Eastman Roman Trial;
  text-decoration: none !important;
  outline: none !important;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #bfb5ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5541d7;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #bfb5ff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5541d7;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  font-family: poppins;
}

#forgotpsd {
  float: right;
  color: #989898;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.btn:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 300px;
  grid-template-rows: 46px 50px 1fr 1fr 70px;
  grid-template-areas: "topbar topbar" "msg updates" "chart updates" "chart calendar" "users calendar";
}
.dashboard .topbar {
  grid-area: topbar;
  display: flex;
}
.dashboard .topbar .form {
  flex: 3;
  position: relative;
}
.dashboard .topbar .form input {
  width: 100%;
  background: rgba(186, 193, 255, 0.2196078431);
}
.dashboard .topbar .form span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  background: rgba(186, 193, 255, 0.7960784314);
  padding: 5px;
  border-radius: 5px;
}
.dashboard .topbar .profile {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
@media screen and (max-width: 1204px) {
  .dashboard .topbar .profile {
    font-size: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .dashboard .topbar .profile {
    flex: 2;
    font-size: 12px;
  }
}
@media screen and (max-width: 970px) {
  .dashboard .topbar .profile {
    flex: 3;
    font-size: 12px;
  }
  .dashboard .topbar .profile img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard .topbar .profile {
    flex: 1;
    font-size: 12px;
  }
  .dashboard .topbar .profile .name::before {
    display: none;
  }
  .dashboard .topbar .profile .name > span {
    display: none;
  }
}
.dashboard .topbar .profile div {
  margin: 10px;
}
.dashboard .topbar .profile div::before {
  content: "";
  position: absolute;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background-color: rgb(179, 179, 179);
}
.dashboard .topbar .profile div::before span {
  margin-left: 5px;
}
.dashboard .msg {
  grid-area: msg;
}
.dashboard .msg h1 {
  font-size: 30px;
  padding: 10px;
  color: #B9C0FE;
}
.dashboard .chart {
  grid-area: chart;
}
.dashboard .updates {
  grid-area: updates;
}
.dashboard .calendar {
  grid-area: calendar;
}
.dashboard .users {
  grid-area: users;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}
.nav-item a {
  padding: 20px !important;
  color: #a4a6b3;
}/*# sourceMappingURL=main.css.map */